body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #00CCFF ; /* Azul claro */
    color: #333;
    text-align: center;
}

header {
    background-color: #CCCCFF; /*Azul suave */
    color: white;
    padding: 40px 20px;
}

.foto-perfil {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid white;
    margin-bottom: 15px;
}

h1 {
    margin: 10px 0;
    font-size: 28px;
}

.seccion {
    background-color: white;
    margin: 20px auto;
    padding: 25px;
    max-width: 800px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(248, 180, 216, 0.4);
}

h2 {
    color:#0099FF ; /* Rosa oscuro */
}

ul {
    list-style: none;
    padding: 0;
    font-size: 18px;
}

ul li {
    margin: 10px 0;
}

.contacto p {
    margin: 5px 0;
    font-weight: bold;
}

.redes a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #e91e63; /* Rosa fuerte */
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.redes a:hover {
    background-color: #ad1457;
}

footer {
    background-color: #f8b4d8;
    color: white;
    padding: 15px;
    font-size: 14px;
}

